/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: url(/img/bgnoise_lg.png);
}

#page {
	border-top: 3px solid #fff;
}

h1#home a {
	display: block;
	overflow: hidden;
	background: url(/img/pyconuk.png);
	text-indent: -100em;
	width: 107px;
	height: 186px;
	margin-top: -3px;
	margin-left: -5px;
	position: absolute;
}

h2 {
	color: #787878;
	margin: 50px 0;
	text-shadow: 0 1px 1px #fff;
}

#header {
	overflow: hidden;
	height: 200px;
}

#crest {
	background: url(../img/crest.png) top center no-repeat;
	height: 376px;
	margin-bottom: 30px;
}


/* #Page Styles
================================================== */

.tac { text-align: center; }
.nw { white-space: nowrap; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#header .thirteen.columns { padding-left: 105px; }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#content .six.columns { width: 340px; margin: 0; }
		#content .ten.columns { width: 408px; margin: 0 10px 0 0 ;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#header .thirteen.columns { width: 300px; }
		#header .three.columns { width: 120px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#header .thirteen.columns { width: 195px; }
		#header .three.columns { width: 105px; }
		.nomo { display: none;}
		#crest { margin: 0 0 30px -10px; width: 320px; }
	}
