<div class="sidebar four columns">
    <!-- http://www.gravatar.com/avatar/5730cd5627b5cbed1c4b7b5f89fa9bd2.png?s=256 -->
    <img src="/img/commish_bust_m_by_midfrog-dcbc2g6.png" class="avatar" alt="mug-shot"/>

    <div class="title_text">
        <div class="title-text-inner">
            <a href="/">
                <h2>Elliana May</h2>
            </a>
        </div>
        <hr>

        <div class="sidebar_row">
            AKA Mause/Jelly
        </div>
        <hr>

        <div class="sidebar_row">
            she/her
        </div>
        <hr/>

        <nav>
            <a href="https://github.com/Mause">GitHub</a>&nbsp;
            <a href="https://twitter.com/Mause_me">Twitter</a>&nbsp;
            <!-- <a href="/cv" title="Curriculum Vitae">CV</a>&nbsp; -->
            <a href="/projects" title="Projects">Projects</a><br/>
            <a href="/blog">Blog</a>&nbsp;
            <!-- <a href="/me.html">Me</a>&nbsp; -->
            <a href="mailto:me@mause.me">Email</a>
        </nav>
        <hr>
    </div>
</div>
