div {
    text-align: justify;
    text-justify: inter-word;
}

.my_nav {
    float: left;
    width: auto;
    margin-top: -25px;
    margin-left: 7px;
    text-align: center;
}

.avatar {
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
}

.avatar-box {
    margin-right: auto;
    margin-left: auto;
    position: relative;

    clear: both;
    padding-bottom: 0;
}

.title_text {
    text-align: center;
}

.title-text-inner {
    text-align: center;
}
