div {
    text-align: justify;
    /*text-justify: inter-word;*/
}

nav {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -25px;
    text-align: center;
}

.page_timestamp {
    margin-top: -20px;
    margin-left: 7px;
    margin-bottom: 10px;

    font-size: 10px;
}

.avatar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.avatar-box {
    margin-right: auto;
    margin-left: auto;
    position: relative;

    clear: both;
    padding-bottom: 0;
}

.title_text {
    text-align: center;
}

.title-text-inner {
    text-align: center;
}

.highlight {
    border: 1px solid #ECE6E6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.pseudonyms {
    text-align: center;
    margin-top: -25px;
    margin-bottom: -6px;
}

/*
vertical-align super is the default in chrome, but Skeleton seems to override it :(
this is for the footnotes btw
*/
sup {
    vertical-align: super;
    font-size: 10px;
    margin-left: 1px;
}

.footnotes {
    font-size: 12px;
}

.footnotes li {
    margin-bottom: -18px;
}
