div {
    text-align: justify;
    /*text-justify: inter-word;*/
}

nav {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -25px;
    text-align: center;
}

.page_timestamp {
    margin-top: -20px;
    margin-left: 7px;
    margin-bottom: 10px;

    font-size: 10px;
}

.avatar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.avatar-box {
    margin-right: auto;
    margin-left: auto;
    position: relative;

    clear: both;
    padding-bottom: 0;
}

.title_text {
    text-align: center;
}

.title-text-inner {
    text-align: center;
}

.pseudonyms {
    text-align: center;
    margin-top: -25px;
    margin-bottom: -6px;
}

/*
vertical-align super is the default in chrome, but Skeleton seems to override it :(
this is for the footnotes btw
*/
sup {
    vertical-align: super;
    font-size: 10px;
    margin-left: 1px;
}

.footnotes {
    font-size: 12px;
}

.footnotes li {
    margin-bottom: -18px;
}

/*code {
    background-color: #EBE6E6;
    border: solid #CFC8C8 1px;
    border-radius: 2px;
    padding: 2px;
}
*/
code, tt {
    margin: 0;
    border: 1px solid #DDD;
    background-color: #F8F8F8;
    border-radius: 3px;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    vertical-align: middle;
    line-height: 1.3;
    padding: 0;
}

.blog-post > div.highlight > pre > code {
    width: 100%;
    padding: 10px;
}

.blog-post > table > tbody > tr > td {
    border: 1px solid black;
    padding: 2px;
}

.blog-post > table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-post > ul {
    list-style: disc;
    text-align: left;
}
