@media print {
    /* yep, we are nice, lets make print output look good :D */
    .well {
        border: none;
        margin-bottom: -40px;
    }

    /* this is to remove the link bootstrap adds */
    a[href]:after {
        content: none !important;
    }
}
