<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Lord_Deathmatch / Mause
  </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

  <div id="main">

    <header>
      <h1> John Doe Photograghy </h1>
    <header>

    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    {{ content }}

    <footer>
        <p>
			<a href="http://www.mause.me/" rel="author">Dominic May;</a>
			hosted on and source available on 
			<a href="http://github.com/Mause/mause.github.com">Github</a>
	    </p>
    </footer>

  </div>
</body>
</html>