name: Jekyll site CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: ruby/setup-ruby@v1
      id: setup-ruby
      with:
        ruby-version: '3.4.8'
        bundler-cache: true
    - run: |
        bundle config set bin "$HOME/bin"
        bundler binstubs ronn-ng
        echo "$HOME/bin" >> $GITHUB_PATH
        pip install weasyprint --upgrade
    - name: Prebuild
      run: make
      working-directory: cv

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5
    - name: Build with Jekyll
      # Outputs to the './_site' directory by default
      run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
      env:
        JEKYLL_ENV: production
    - uses: actions/upload-pages-artifact@v4
      with:
        path: ./_site
        retention-days: 1
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      # links this workflow to the deployments page on your repository
      name: github-pages
      # attaches the deployed URL to this job on the workflow summary
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment # this needs to match the ID referenced in environment.url above
        with:
          emit_telemetry: false
          timeout: 600000
          error_count: 10
          reporting_interval: 5000
